MAIL:
  USER: "ias"
  PASS: ""
  WEBTEAM: "spowebteam@gmail.com"
JWT:
  PRIVATE_KEY: "pretty-big-secret"
DATABASE:
  # HOST: "localhost"
  PASSWORD: "b2Led2ke"
CALENDAR:
  CID1: ""
  CID2: ""
  CID3: ""
  CID4: ""
  
  